.page.theme_dark {
  --text: #f1b2ce;
  --title: #000028;
  --accent-color: #FF0070;
  --logo-text: #DB00FF;
  --cover: url(../images/cover-image-dark.png);
  --bk-color: #00183F;
  --hover-outline: rgba(255, 0, 112, 0.40);

  .rec {
    display: block;
  }

  .title-decor, .header__logo, .link{
    --accent-color: #FF0070;
  }
}
