.page.theme_light {
  --text: var(--accent-color);
  --title: var(--accent-color);
  --accent-color: #353430;
  --logo-text: #FFC2E6;
  --cover: url(../images/cover-image-light.png);
  .rec {
    display: none;
  }

  .title-decor {
    --accent-color: #ff8dcb;
  }
}



@media (prefers-color-scheme: light) {
  :root {
    --text: var(--accent-color);
    --title: var(--accent-color);
    --accent-color: #353430;
    --logo-text: #FFC2E6;
    --cover: url(../images/cover-image-light.png);
  }  

  .title-decor {
    --accent-color: #ff8dcb;
  }
}
